[https]
	proxy = http://localhost:1970
[http]
	proxy = http://localhost:1970
[commit]
	gpgsign = true
[user]
	email = unlsycn@unlsycn.com
	name = unlsycn
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[core]
	editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[alias]
	diff = icdiff
[diff]
  colorMoved = default
[delta]
  navigate = true
  light = false
[merge]
  conflictstyle = diff3
