[http]
	proxy = http://localhost:1970
	sslVerify = false
[https]
	proxy = http://localhost:1970
[user]
	name = unlsycn
	email = unlsycn@unlsycn.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[alias]
	diff = icdiff
