[submodule ".tmux"]
	path = .tmux
	url = https://github.com/unlsycn/tmux-config.git
	branch = main
[submodule ".config/nvim-vscode"]
	path = .config/nvim-vscode
	url = https://github.com/unlsycn/.vim
	branch = vscode
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/unlsycn/.vim
	branch = cli
[submodule ".scripts"]
	path = .scripts
	url = git@github.com:unlsycn/useful-scripts.git
