[MESSAGES CONTROL]

enable=

disable=
  format,
  missing-docstring,
  redefined-outer-name,
  exec-used,
  unnecessary-lambda-assignment,
  unnecessary-lambda,

[BASIC]

module-naming-style=any
const-naming-style=UPPER_CASE
class-naming-style=PascalCase
variable-naming-style=snake_case
# function-naming-style=camelCase
# method-naming-style=camelCase
argument-naming-style=snake_case
